body { background-color:white; font-family:arial,verdana; font-size:smaller; }
h1 { font-family:arial,verdana,courier; font-size:large; font-weight:bold; }
h1 small { color:gray; font-style:italic; }
.presto { font-style:italic; color:red; }
td, th { border:solid black 1px; }
caption { font-size:large; font-weight:bold; }
.url { font-weight:bold; background-color:#E0E0E0; }
var { font-weight:bold; }
var:before, var:after { content:"\""; }
.author { text-decoration:none; }
span.author:before { content:"<"; }
span.author:after { content:">"; }
table { border-collapse:collapse; }
.regex { background-color:#DBFF00; border:none; border-top:solid black 1px; border-bottom:solid black 1px; }
.outdated { margin-top:20pt; background-color:#DBB6B6; }
.outdated:before { font-weight:bold; color:#DBB6B6; background-color:black; content:"OUTDATED" }
img { border:none; }
.unicode { font-family:"Lucida sans Unicode"; }
.license { background-color:#E0E0E0; }
code { background-color:#E0E0E0; }